#This file contains the list of parameters for transit search
TransitDuration:20,60                        #Transit duration in minutes. Assign values between 20 minutes to 90 minutes.
TDurStepSize:5.0                            #Stepsize for the transit duration
TStepSize:5.0                               #Take step of this in minutes for T0
Params:JD,fwhm,sky,airmass                   #comp,t,dx,dy,fwhm,sky,airmass. Possible options: LC--> Comparison light curve, t ---> Time, dx ---> shift in X position, dy---> shift in y position, fwhm---> Full width Half Maximum, sky and, airmass . The parameters to consider for fitting. t is time,xy is shift in the distance of the centroid, fwhm, sky,wv is water vapor, a is the airmass
Combination:2                                #Maximum combination of parameter to consider
PolynomialOrder:2                            #Highest Order of polynomial to be used
NCPUs:-1                                     #-1 is default to use all the number of cores; 1-32 is to that many number of cores.
ChunkSize:-1                                 #Number of data to be fitted. 1 denotes all night data.
